@{
    ViewBag.Title = "Help";
}
<div class="page-header">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="list-unstyled">
                <li><a href="/">Home</a></li>

                <li>Help</li>
            </ul>
        </div> <!-- end .breadcrumbs -->
    </div> <!-- end .container -->
</div>
<style>
    p {
        font-size: 22px;
        line-height: 170%;
    }

    h3 {
        font-size: 40px;
    }

    header {
        font-size: 30px;
        color: darkblue;
    }
</style>
<section class="container py-lg-5 py-4">
    <h3 class="tittle  text-center my-lg-5 my-3">Talkback</h3><br /><br />
    <p><mark>Talkback</mark> is an app that is part of Google’s Android Accessibility Service. This app helps the <mark>blind and visually impaired</mark> hear what activity they are doing with their phones such as clicking an item that they have just selected, reading texts aloud, and saying every movement. Every action made on your phone is spoken by this app. Below are some videos to provide more info on talkbacks.</p>
    <br /><br /><br />
    <header>Android devices see the video below:</header><br />
    <center><iframe style="width:85%; height:500px;" src="https://www.youtube.com/embed/ygVWtZsq-Qk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center><br /><br /><br />
    <header>Apple devices see the video below:</header><br /><br />
    <center><iframe style="width:85%; height:500px;" src="https://www.youtube.com/embed/VBm-I_eMSHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center><br />
    <br />
    <br />
    <h3 class="tittle  text-center my-lg-5 my-3">What is Braille ?</h3><br /><br />
    <p>
        <mark>Braille</mark> is a system of raised dots that can be read with the fingers by people who are blind or who have low vision. Braille is not a language. Rather, it is a code by which many languages—such as English, Spanish, Arabic, Chinese, and dozens of others—may be written and read.
        It is made up of raised dots that can be <mark>‘read’</mark> by touch. The basic component is a rectangular ‘cell’ of six dots, arranged in two vertical columns of three dots.

        Each dot arrangement represents a different letter or number. For example, the letter ‘A’ is a single dot (the first dot in the top left column. ‘B’ is two vertically aligned dots (first and second dots in the left column), while ‘C’ is two horizontally aligned dots (top dot in both columns).

        In this way, braille offers 63 different dot combinations to form the alphabet, numbers, punctuation marks and abbreviations. Braille is used around the world in many languages. Just about any written information can be presented in braille including books, music, mathematics and knitting patterns.

    </p>
    <br />
    <br />
    <header>Brief description of Braille:</header><br /><br />
    <center><iframe style="width:85%; height:500px;" src="https://www.youtube.com/embed/sqQ3gdE7ks0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</section>