@{
    ViewBag.Title = "Home";
}


<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/floating.css" rel="stylesheet" />

@using (Html.BeginForm("AnyLocationDetails", "UserPlans"))
{
    <div class="section small transparent dark text-center" style="background-image: url('../../images/background.jpg');">
        <div class="inner">
            <div class="container">
                <div class="frame">
                    <div class="zoom">
                        <h1>Plan Trips around Melbourne City</h1>
                        <p>Search a location and we will find pedestrian traffic info at that location</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <form>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="searchform" style="text-align:left">
                                <div class="frame">
                                    <div class="zoom">
                                        <label for="FLocation" style="font-size:20px;">*Where to go</label>
                                    </div>
                                </div>
                                <div class="frame">
                                    <div class="zoom">
                                        <input id="autocomplete"
                                               onclick="setFlag();"
                                               autocomplete="off"
                                               type="text" name="location"
                                               placeholder="Search for a location"
                                               required
                                               onfocus="this.placeholder=''"
                                               onblur="this.placeholder ='Search for a location'"
                                               style="padding-right:50px" />
                                        <button type="button"><i class="fa fa-map-marker"></i></button>
                                        <input hidden id="lat" type="text" name="lat" />
                                        <input hidden id="lon" type="text" name="lon" />
                                        @Html.Hidden("date", TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("AUS Eastern Standard Time")))
                                    </div>
                                </div>
                            </div> <!-- end .form-group -->
                        </div> <!-- end .col-sm-4 -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="frame">
                                    <div class="zoom">
                                        <button onclick="geocodeAddress();" type="button" class="button">Plan Trips</button>
                                        <button id="submitPlace" type="submit" hidden></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="container1">
                <div class="avatar">
                    <div class="frame">
                        <div class="zoom">
                            <a style="font-size:20px;" class="glyphicon glyphicon-arrow-down" href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="section light">
    <div class="inner">
        <div id="explore" class="container">
            <div class="frame">
                <div class="zoom">
                    <h2 class="text-center">What are you interested in?<small>Explore some of the best picks from around the city </small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Church", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category1.jpg');">
                        <div class="inner">
                            <img src="~/images/icon01.png" alt="icon">
                            <span class="title">Church</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Cafe", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category2.jpg');">
                        <div class="inner">
                            <img src="~/images/icon02.png" alt="icon">
                            <span class="title">Cafe</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Recreation", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category3.jpg');">
                        <div class="inner">
                            <img src="~/images/icon03.png" alt="icon">
                            <span class="title">Sport</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Museum", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category4.jpg');">
                        <div class="inner">
                            <img src="~/images/icon04.png" alt="icon">
                            <span class="title">Museum</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
                <div class="col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Transport", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category5.jpg');">
                        <div class="inner">
                            <img src="~/images/icon05.png" alt="icon">
                            <span class="title">Transport</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-sm-6 -->
                <div class="col-md-3 col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Leisure", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category6.jpg');">
                        <div class="inner">
                            <img src="~/images/icon06.png" alt="icon">
                            <span class="title">Leisure</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <a href=@Url.Action(controllerName: "UserPlans",actionName: "CategoryIndex", routeValues: new { category = "Shopping", date = DateTime.Now }) ; class="category-box" style="background-image: url('../../images/category7.jpg');">
                        <div class="inner">
                            <img src="~/images/icon07.png" alt="icon">
                            <span class="title">Shopping</span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->

<div class="section light transparent" style="background-image: url('../../images/background02.jpg');">
    <div class="inner">
        <div class="container">
            <div class="frame">
                <div class="zoom">
                    <h2 class="text-center">How it Works<small>Discover the Accessible Places in Melbourne CBD</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="frame">
                        <div class="zoom">
                            <div class="services">
                                <img src="~/images/services-icon01.png" alt="icon" class="img-responsive center-block">
                                <h3>Choose<br>What To Do</h3>
                                <p style="font-size:22px;">Looking for the tram to take, a restaurant to eat, a church to visit or a mall to do some shopping.</p>
                            </div> <!-- end .services -->
                        </div>
                    </div>
                </div> <!-- end .col-sm-4 -->
                <div class="col-sm-4">
                    <div class="frame">
                        <div class="zoom">
                            <div class="services">
                                <img src="~/images/services-icon02.png" alt="icon" class="img-responsive center-block">
                                <h3>Find<br>What You Want</h3>
                                <p style="font-size:22px;">Search and filter hundreds of listings, read information and find the perfect spot.</p>
                            </div> <!-- end .services -->
                        </div>
                    </div>
                </div> <!-- end .col-sm-4 -->
                <div class="col-sm-4">
                    <div class="frame">
                        <div class="zoom">
                            <div class="services">
                                <img src="~/images/services-icon03.png" alt="icon" class="img-responsive center-block">
                                <h3>Explore<br>Amazing Places</h3>
                                <p style="font-size:22px;">Go and have a good time or even make your own plans from the listing page. All of those, thanks to MelEyes!</p>
                            </div> <!-- end .services -->
                        </div>
                    </div>
                </div> <!-- end .col-sm-4 -->
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->


<script type="text/javascript">
    $(function () {
        $('.date-container').datetimepicker({
            minDate: new Date(),
            format: 'L'
        });
    });
    $(document).ready(function () {
        $("div[id$=dvProgress]").fadeOut("fast");
    });
</script>

<script>
    $('.container1').click(function () {
        $('html, body').animate({
            scrollTop: $("#explore").offset().top
        }, 'slow');
        return false;
    });


    speechSynthesis.cancel();
</script>

<script>
    var auto = false;
    function setFlag() {
        auto = false;
    }

    var address = "";
    var input = document.getElementById('autocomplete');
    var geocoder = new google.maps.Geocoder();

    var cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-38.067807865, 144.5148742199),
        new google.maps.LatLng(-37.5687831234, 145.4157531261));

    var options = {
        bounds: cityBounds,
        componentRestrictions: { country: "au" }
    };


    var autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', function () {
        address = autocomplete.getPlace();
        auto = true;
    });

    function geocodeAddress() {
        if (auto) {
            var autocompleteAddress = document.getElementById('autocomplete').value;
            geocoder.geocode({ 'address': autocompleteAddress }, function (results, status) {
                if (status === 'OK') {
                    document.getElementById('lat').value = results[0].geometry.location.lat();
                    document.getElementById('lon').value = results[0].geometry.location.lng();
                    $("#submitPlace").click();
                } else {

                    document.getElementById('autocomplete').value = null;
                }
            });
        }
        else {
            alert('Please enter a valid Destination!');
            document.getElementById('lat').value = null;
            document.getElementById('lon').value = null;
            document.getElementById('autocomplete').value = null;
        }

    }

    google.maps.event.addDomListener(input, 'keydown', function (e) {
        if (e.keyCode == 13 && $('.pac-container:visible').length) {
            e.preventDefault();
        }
    });
</script>

