@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("PlanCreator", "UserPlans"))
{
    <div class="jumbotron">
        <p>Vision Melbourne</p>
        <p>We help plan your journey to the city. Pick a Date and Start Planning your trips!</p>
        <div class="form-group">
            <div class="col-md-4">
                <input id="Date" type="datetime" name="Date" placeholder="Pick a Date" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>

    </div>
}


<div class="row">
    <div class="col-md-4">
        <h2>Churches</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        @Html.ActionLink("Vision Churches", "CategoryIndex", "UserPlans", new { category = "Church" }, new { @class = "btn btn-warning" })
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#Date').datetimepicker({
            minDate: new Date(),
            format: "L"
        });
    });   
</script>

<script>
    var options = {
        componentRestrictions: { country: "au" }
    };
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input, options);

</script>