@{
    ViewBag.Title = "About";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<div class="page-header">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="list-unstyled">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>Learn Braille</li>
            </ul>
        </div> <!-- end .breadcrumbs -->
    </div> <!-- end .container -->
</div>

<div class="section large transparent dark text-center" style="background-image: url('../../images/blind.jpg');">
    <div class="inner">
        <div class="container">
            <div class="frame">
                <div class="zoom">
                    <h1>Translate the Word in Braille</h1>
                    <br /><br />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="frame">
                        <div class="zoom">
                            <div class="searchform">
                                <input type="text" id="input" placeholder="Please enter the word eg.abc" onfocus="this.placeholder=''" onblur="this.placeholder ='Please enter the word eg.abc'" onchange= "searchBraille()" autocomplete="off" />
                                <button type="button" style="padding-bottom: 0px; padding-top: 0px;" onclick="doTTS()"><i class="fa fa-volume-up"></i></button>
                            </div> <!-- end .form-group -->
                        </div> <!-- end .col-sm-6 -->
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="frame">
                        <div class="zoom">
                            <div class="form-group">
                                <button type="button" class="button" onclick="searchBraille()">Translate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="frame">
                        <div class="zoom">
                            <div class="searchform" style="text-align:left;">
                                <label for="Results" style="font-size:24px;">Results</label>
                                <div class="div1" id="output"></div>
                            </div>
                        </div> <!-- end .col-sm-6 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function searchBraille() {
        var text = "";
        var input = document.getElementById("input").value;
        var output = document.getElementById("output");
        output.innerHTML = "";
        text = input.replace(/\s/g, '').toLowerCase();
        $(".div1").css("height", "auto");
        if (text.match("^[a-z]+$")) {
            for (i = 0; i < text.length; i++) {
                switch (text.charAt(i)) {
                    case ('a'):
                        output.innerHTML = output.innerHTML + '<img src="../images/A.png" class="img1"/>';
                        break;
                    case ('b'):
                        output.innerHTML = output.innerHTML + '<img src="../images/B.png" class="img1"/>';
                        break;
                    case ('c'):
                        output.innerHTML = output.innerHTML + '<img src="../images/C.png" class="img1"/>';
                        break;
                    case ('d'):
                        output.innerHTML = output.innerHTML + '<img src="../images/D.png" class="img1"/>';
                        break;
                    case ('e'):
                        output.innerHTML = output.innerHTML + '<img src="../images/E.png" class="img1"/>';
                        break;
                    case ('f'):
                        output.innerHTML = output.innerHTML + '<img src="../images/F.png" class="img1"/>';
                        break;
                    case ('g'):
                        output.innerHTML = output.innerHTML + '<img src="../images/G.png" class="img1"/>';
                        break;
                    case ('h'):
                        output.innerHTML = output.innerHTML + '<img src="../images/H.png" class="img1"/>';
                        break;
                    case ('i'):
                        output.innerHTML = output.innerHTML + '<img src="../images/I.png" class="img1"/>';
                        break;
                    case ('j'):
                        output.innerHTML = output.innerHTML + '<img src="../images/J.png" class="img1"/>';
                        break;
                    case ('k'):
                        output.innerHTML = output.innerHTML + '<img src="../images/K.png" class="img1"/>';
                        break;
                    case ('l'):
                        output.innerHTML = output.innerHTML + '<img src="../images/L.png" class="img1"/>';
                        break;
                    case ('m'):
                        output.innerHTML = output.innerHTML + '<img src="../images/M.png" class="img1"/>';
                        break;
                    case ('n'):
                        output.innerHTML = output.innerHTML + '<img src="../images/N.png" class="img1"/>';
                        break;
                    case ('o'):
                        output.innerHTML = output.innerHTML + '<img src="../images/O.png" class="img1"/>';
                        break;
                    case ('p'):
                        output.innerHTML = output.innerHTML + '<img src="../images/P.png" class="img1"/>';
                        break;
                    case ('q'):
                        output.innerHTML = output.innerHTML + '<img src="../images/Q.png" class="img1"/>';
                        break;
                    case ('r'):
                        output.innerHTML = output.innerHTML + '<img src="../images/R.png" class="img1"/>';
                        break;
                    case ('s'):
                        output.innerHTML = output.innerHTML + '<img src="../images/S.png" class="img1"/>';
                        break;
                    case ('t'):
                        output.innerHTML = output.innerHTML + '<img src="../images/T.png" class="img1"/>';
                        break;
                    case ('u'):
                        output.innerHTML = output.innerHTML + '<img src="../images/U.png" class="img1"/>';
                        break;
                    case ('v'):
                        output.innerHTML = output.innerHTML + '<img src="../images/V.png" class="img1"/>';
                        break;
                    case ('w'):
                        output.innerHTML = output.innerHTML + '<img src="../images/W.png" class="img1"/>';
                        break;
                    case ('x'):
                        output.innerHTML = output.innerHTML + '<img src="../images/X.png" class="img1"/>';
                        break;
                    case ('y'):
                        output.innerHTML = output.innerHTML + '<img src="../images/Y.png" class="img1"/>';
                        break;
                    case ('z'):
                        output.innerHTML = output.innerHTML + '<img src="../images/Z.png" class="img1"/>';
                        break;
                }
            }
        }
        else if (text.replace(/\s/g, '').match("^\d*$")) {
            output.innerHTML = output.innerHTML + '<h3>Please enter words first!</h3>'
        }
        else {
            output.innerHTML = output.innerHTML + '<h3>Sorry! Currently we only support word eearch. There is some special characters in your searching. Use the example eg. abc</h3>';
        }
    };

    function doTTS() {
        var text = document.getElementById("input").value;
        if (text.replace(/\s/g, '').toLowerCase().match("^[a-z]+$")) {
            var content = "You are searching for the word," + text + ", You can click the 'Translate' button to view this word in braille";
            const utterance = new SpeechSynthesisUtterance(content);
            utterance.pitch = 1.5;
            utterance.volume = 1.5;
            utterance.rate = 0.7;
            speechSynthesis.speak(utterance);
        }
        else if (text.replace(/\s/g, '').match("^\d*$")) {
            var content = "Please enter words first";
            const utterance = new SpeechSynthesisUtterance(content);
            utterance.pitch = 1.5;
            utterance.volume = 1.5;
            utterance.rate = 1;
            speechSynthesis.speak(utterance);
        }
        else {
            var content = "Sorry! Currently we only support Word Search. There is some special characters in your searching. Use the example eg. abc";
            const utterance = new SpeechSynthesisUtterance(content);
            utterance.pitch = 1.5;
            utterance.volume = 1.5;
            utterance.rate = 1;
            speechSynthesis.speak(utterance);
        }

    };
</script>

<style>
    .div1 {
        width: 100%;
        height: 120px;
        border: 2px solid #ffffff;
        background-color: white;
    }

    .img1 {
        border: solid;
        border-color: black;
        margin: 5px;
        border-width: 3px;
        width: 69px;
        height: 115px;
    }
</style>



@*@{
        ViewBag.Title = "About";
    }
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        .circle-btn {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            border: 1px solid black;
            background: #4679BD;
        }

        .key-container {
            text-align: center;
            max-height: 20%;
        }

        td {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    </style>
    <h1>Braille Code Checker</h1>
    <p>Type the code to know the corresponding alphabet</p>
    <div class="key-container">
        <table style="width:100%; height:40%;position:static;">
            <tr>
                <td><div id="Text"></div></td>
            </tr>
            <tr>
                <td>
                    <button id="btn1" onclick="clickFunction(this)" value="1" class="circle-btn btn btn-default btn-text">1</button>
                    <button id="btn4" onclick="clickFunction(this)" value="4" class="circle-btn btn btn-default">4</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btn2" class="circle-btn btn btn-default" onclick="clickFunction(this)" value="2">2</button>
                    <button id="btn5" class="circle-btn btn btn-default" onclick="clickFunction(this)" value="5">5</button>
                </td>
            </tr>
            <tr />
            <tr>
                <td>
                    <button id="btn3" class="circle-btn btn btn-default" onclick="clickFunction(this)" value="3">3</button>
                    <button id="btn6" class="circle-btn btn btn-default" onclick="clickFunction(this)" value="6">6</button>
                </td>
            </tr>
            <tr />
            <tr>
                <td>
                    <button id="submit" class="button" onclick="doTTS()" value="Check">Check</button>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <input id="brailletext" type="text" placeholder="Please type a word" onfocus="this.placeholder=''" onblur="this.placeholder ='Please type a word'" />
        <button type="button" class="button" onclick="findBraille();">Convert to Braille</button>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/braille")
    }*@
